@charset "UTF-8";
/* CSS Document */

.content{
	width: 1440px;
	height: 500px;
	
	}

body{
	background: url(../img/grey_wash_wall.png);
}

.slider{
	width: 1440px;
	height: 500px;
}

.sub-nav{
	margin-left: 800px;
}

.bar-color{
	background: #a10022;
	}
	
.off-canvas-wrap{
	width: 1500px;
}

.table{
	margin-top: 50px;
	margin-left: 20px;
	
}

h3{
	color: #fff;
}

