@charset "UTF-8";
/* CSS Document */

.content{
	width: 1200px;
	height: 400px;
	margin-left: 100px;
	}

body{
	background: url(../img/grey_wash_wall.png);
}

.slider{
	width: 1200px;
	height: 400px;
}

.sub-nav{
	margin-left: 800px;
}

.bar-color{
	background: #a10022;
	}